@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ulgDesign.cshtml";
}

@section MetaData {
	
	
}
@section BreadCrumb {
		<!-- homepage has no breadcrumb -->
}


<div class="row">
	<div class="col-lg-8">
		<div class="jumbotron">
			<h1>@Umbraco.Field("siteName")</h1>
			@Umbraco.Field("bodyText")
		</div>
	</div>
	<div class="col-lg-4">
		<div class="well">
			<h2>News...</h2>
			@Html.Partial("ulgHomepageNews")
		</div>
	</div>
</div>

@Html.Partial( 
	"ulgLandingPagePartial",
	Model.Content,
	new ViewDataDictionary() {
		{ "mainCount",6}
	})

	
@section Footer {
				
				
}

@section Scripts {
	
}