@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ulgSections.cshtml";
}

@section MetaData {
	
}

<div class="row">
	<div class="col-lg-8">
		<div class="jumbotron">
			<h2>@Umbraco.Field("sectionName") Section</h2>
				@Umbraco.Field("bodyText")
		</div>
	</div>
	<div class="col-lg-4">
		<div class="well">
			<h2>News...</h2>
		</div>
	</div>
</div>
@*rewrite as partial view*@
@Umbraco.RenderMacro("ulg.landingpage")
	
@section Footer {
				
}

@section Scripts {
	
}