<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Template>
  <Name>ulgNewsListPage</Name>
  <Alias>ulgNewsListPage</Alias>
  <Master>ulgSideNavPages</Master>
  <Design><![CDATA[@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	@using Eksponent.CropUp
@{
    Layout = "ulgSideNavPages.cshtml";
}

@section MetaData {
	
	
}
<div class="page-header">
    <h1>@Umbraco.Field("title")</h1>
</div>					

@Umbraco.Field("bodyText")
@Html.Partial("ulgNewsList")


@section AltSection {
    @Html.Partial("ulgNewsArchive")			
}            
    ]]></Design>
</Template>