<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.NewsItem</Name>
    <Alias>ulgNewsItem</Alias>
    <Icon>newspaper.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgcoreContent</Master>
    <AllowedTemplates>
      <Template>ulgNewsItemPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>ulgNewsItemPage</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>News Summary</Name>
      <Alias>newsSummary</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Summary of News Article]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Related Image</Name>
      <Alias>relatedImage</Alias>
      <Type>ead69342-f06d-4253-83ac-28000225583b</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Related image to this article]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Article Date</Name>
      <Alias>articleDate</Alias>
      <Type>23e93522-3200-44e2-9f29-e61a6fcbb79a</Type>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Tab>Article Details</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Date of news article]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>News Location</Name>
      <Alias>newsLocation</Alias>
      <Type>34451d92-d270-49ba-8c7f-ee55bfeee1cb</Type>
      <Definition>b961ec46-d2aa-4e72-bd76-9551501dc50b</Definition>
      <Tab>Article Details</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Promote News article to following locations]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>News Topics</Name>
      <Alias>newsTopics</Alias>
      <Type>4023e540-92f5-11dd-ad8b-0800200c9a66</Type>
      <Definition>50bcfd1a-34ef-489a-9662-48713fdd61a5</Definition>
      <Tab>Article Details</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Tag this news article with relevant topics eg. Business]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>20</Id>
      <Caption>Content</Caption>
    </Tab>
    <Tab>
      <Id>21</Id>
      <Caption>Article Details</Caption>
    </Tab>
  </Tabs>
</DocumentType>