<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.ContentPage</Name>
    <Alias>ulgContentPage</Alias>
    <Icon>page.png</Icon>
    <Thumbnail>doc.png</Thumbnail>
    <Description>a page of content, with related items and contact details</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgcoreContent</Master>
    <AllowedTemplates>
      <Template>ulgStandardPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>ulgStandardPage</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>ulgContentPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Related Items</Name>
      <Alias>relatedItems</Alias>
      <Type>71b8ad1a-8dc2-425c-b6b8-faa158075e63</Type>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Tab>Related</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>15</Id>
      <Caption>Related</Caption>
    </Tab>
  </Tabs>
</DocumentType>