# Umbraco gitIgnore
# Kevin Jump - consistently ignoring stuff since 1976
#
# This is a general + Umbraco ignore file.
#
# Gotten from bits of the internet 
#   http://stackoverflow.com/questions/8527597/gitignore-file-syntax
#   http://offroadcode.com/blog/2012/4/5/mercurial-ignore-file-for-umbraco/
#

# use glob syntax
syntax: glob

#
# UMBRACO (V6.1.3)
# ================

web.config

*/App_Browsers/
# */App_Code/
*/App_Data/ClientDependency/
*/App_Data/ExamineIndexes/
*/App_Data/umbraco.config
*/App_Data/preview/
*/App_Data/TEMP/
*/App_Data/Logs/
*/App_Data/packages/

aspnet_client/
data/
install/
*/umbraco/Actions/
*/umbraco/*.*
umbraco_client/
default.aspx
global.asax

*/uSync.Archive/

# so we can include famfam 
# in umbraco/images/umbraco
# ==============
*/umbraco/Actions
*/umbraco/Channels
*/umbraco/Config
*/umbraco/Controls
*/umbraco/Create
*/umbraco/Css
*/umbraco/Dashboard
*/umbraco/Developer
*/umbraco/Dialogs
# Images
*/umbraco/Images/*.*
*/umbraco/Images/Actions/
*/umbraco/Images/Developer/
*/umbraco/Images/Editor/
*/umbraco/Images/PinnedIcons/
*/umbraco/Images/SpeechBubble/
*/umbraco/Images/Thumbnails/
*/umbraco/Images/Tray/
*/umbraco/Images/Umbraco/*.gif
*/umbraco/Js
*/umbraco/LiveEditing
*/umbraco/Masterpages
*/umbraco/Members
*/umbraco/Plugins
*/umbraco/Scripting
*/umbraco/Search
*/umbraco/Settings
*/umbraco/Translation
*/umbraco/Users
*/umbraco/Webservices
*/umbraco/Xslt

_import.xml
_source.xml


# The Bin Folder for Umbraco 6.1.3
# ================================
*/bin/amd64/
*/bin/x86/
businesslogic.dll
businesslogic.xml
ClientDependency.Core.dll
ClientDependency.Core.Mvc.dll
cms.dll
cms.xml
controls.dll
controls.xml
CookComputing.XmlRpcV2.dll
Examine.dll
HtmlAgilityPack.dll
HtmlAgilityPack.xml
ICSharpCode.SharpZipLib.dll
interfaces.dll
interfaces.xml
log4net.dll
Lucene.Net.dll
Lucene.Net.xml
Microsoft.ApplicationBlocks.Data.dll
Microsoft.Web.Helpers.dll
Microsoft.Web.Infrastructure.dll
Microsoft.Web.Infrastructure.xml
Microsoft.Web.Mvc.FixedDisplayModes.dll
MiniProfiler.dll
MiniProfiler.xml
MySql.Data.dll
Newtonsoft.Json.dll
Newtonsoft.Json.xml
Our.Umbraco.uGoLive.47x.dll
Our.Umbraco.uGoLive.Checks.dll
Our.Umbraco.uGoLive.dll
SQLCE4Umbraco.dll
SQLCE4Umbraco.XML
System.Data.SqlServerCe.dll
System.Data.SqlServerCe.Entity.dll
System.Net.Http.dll
System.Net.Http.Formatting.dll
System.Net.Http.Formatting.xml
System.Net.Http.WebRequest.dll
System.Net.Http.WebRequest.xml
System.Net.Http.xml
System.Web.Helpers.dll
System.Web.Helpers.xml
System.Web.Http.dll
System.Web.Http.WebHost.dll
System.Web.Http.WebHost.xml
System.Web.Http.xml
System.Web.Mvc.dll
System.Web.Mvc.xml
System.Web.Razor.dll
System.Web.Razor.xml
System.Web.WebPages.Deployment.dll
System.Web.WebPages.Deployment.xml
System.Web.WebPages.dll
System.Web.WebPages.Razor.dll
System.Web.WebPages.Razor.xml
System.Web.WebPages.xml
TidyNet.dll
Umbraco.Core.dll
Umbraco.Core.xml
umbraco.DataLayer.dll
umbraco.DataLayer.xml
umbraco.dll
umbraco.editorControls.dll
umbraco.editorControls.xml
umbraco.MacroEngines.dll
umbraco.MacroEngines.xml
umbraco.macroRenderings.dll
umbraco.macroRenderings.xml
umbraco.providers.dll
umbraco.providers.xml
Umbraco.Web.UI.dll
umbraco.xml
umbraco.XmlSerializers.dll
UmbracoExamine.dll
UmbracoExamine.XML
UrlRewritingNet.UrlRewriter.dll

# ================================
#    Visual Studio + Tools + OS
# ================================
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#OS junk files
[Tt]humbs.db
*.DS_Store

#Nuget
packages/*
!packages/repositories.config

#FamFamFam Icons

#!uLocalGovMVC\Umbraco\Images\Umbraco\*.png

