<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.VenueLandingPage</Name>
    <Alias>ulgVenueLandingPage</Alias>
    <Icon>map_go.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgLandingPage</Master>
    <AllowedTemplates>
      <Template>ulgVenueHomepage</Template>
    </AllowedTemplates>
    <DefaultTemplate>ulgVenueHomepage</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>ulgVenuePage</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>