<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.VenueLandingPage</Name>
    <Alias>ulgVenueLandingPage</Alias>
    <Icon>map_go.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgLandingPage</Master>
    <AllowedTemplates>
      <Template>ulgVenueHomepage</Template>
    </AllowedTemplates>
    <DefaultTemplate>ulgVenueHomepage</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>ulgVenuePage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Map Centre And Zoom</Name>
      <Alias>mapCentreAndZoom</Alias>
      <Type>1b64eae2-f9a1-4276-a071-f25dde6913dd</Type>
      <Definition>f435f50a-988a-417c-9067-4332ad8bfb7d</Definition>
      <Tab>Venue Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Default Centre position and zoom of 'all venues' map when it is first displayed]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Venue Type</Name>
      <Alias>venueType</Alias>
      <Type>a74ea9c9-8e18-4d2a-8cf6-73c6206c5da6</Type>
      <Definition>466024a4-2719-4d4e-beb9-9f9862fab2bf</Definition>
      <Tab>Landing Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Type of Venues]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>28</Id>
      <Caption>Landing Info</Caption>
    </Tab>
    <Tab>
      <Id>29</Id>
      <Caption>Venue Info</Caption>
    </Tab>
  </Tabs>
</DocumentType>