<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.SystemPage</Name>
    <Alias>ulgSystemPage</Alias>
    <Icon>cog.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgcoreContent</Master>
    <AllowedTemplates>
      <Template>ulgStandardPage</Template>
      <Template>ulgAZEntriesPage</Template>
      <Template>ulgSearchPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>ulgStandardPage</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>ulgContentPage</DocumentType>
    <DocumentType>ulgSystemPage</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>