<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Template>
  <Name>ulgAZEntriesPage</Name>
  <Alias>ulgAZEntriesPage</Alias>
  <Master>ulgSystemPages</Master>
  <Design><![CDATA[@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ulgSystemPages.cshtml";
}

@Html.Partial("ulgAZIndex")
@Html.Action("DisplayAZEntries", "SiteNavigationSurface")]]></Design>
</Template>