<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.NewsList</Name>
    <Alias>ulgNewsList</Alias>
    <Icon>newspaper_go.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
     <Master>ulgPage</Master>
    <AllowedTemplates>
      <Template>ulgNewsListPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>ulgNewsListPage</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>ulgNewsItem</DocumentType>
    <DocumentType>ulgNewsList</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>