<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.SectionHomepage</Name>
    <Alias>ulgSectionHomepage</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgcoreContent</Master>
    <AllowedTemplates>
      <Template>ulgSectionHomepage</Template>
    </AllowedTemplates>
    <DefaultTemplate>ulgSectionHomepage</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Menu Length</Name>
      <Alias>menuLength</Alias>
      <Type>1413afcb-d19a-4173-8e9a-68288d2a73b8</Type>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Tab>Section Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[how many items appear in the menu before it's "mored..."]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Section Name</Name>
      <Alias>sectionName</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Section Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Name of the section (appears on tab)]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Section Style</Name>
      <Alias>sectionStyle</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Section Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[style sheet name (i.e council.css) for this section]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>9</Id>
      <Caption>Section Info</Caption>
    </Tab>
    <Tab>
      <Id>10</Id>
      <Caption>Content</Caption>
    </Tab>
    <Tab>
      <Id>11</Id>
      <Caption>MetaData</Caption>
    </Tab>
  </Tabs>
</DocumentType>