<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.LandingPage</Name>
    <Alias>ulgLandingPage</Alias>
    <Icon>page_link.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Landing page, pages people 'land' on before going somewhere else</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgcoreContent</Master>
    <AllowedTemplates>
      <Template>ulgLandingPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>ulgLandingPage</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Main Item Count</Name>
      <Alias>mainItemCount</Alias>
      <Type>1413afcb-d19a-4173-8e9a-68288d2a73b8</Type>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Tab>Landing Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[number of items in the main section]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Menu Item Count</Name>
      <Alias>menuItemCount</Alias>
      <Type>1413afcb-d19a-4173-8e9a-68288d2a73b8</Type>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Tab>Landing Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[home many items in this section go into the mega menu]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>16</Id>
      <Caption>Landing Info</Caption>
    </Tab>
  </Tabs>
</DocumentType>