<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Stylesheet>
  <Name>layout</Name>
  <FileName>layout</FileName>
  <Content><![CDATA[/*
 * this is where the design lives
 */


/* landing pages */
.landing-item .icon {
	float: left;
	padding: .4em;
	font-size: 2.2em;
}
]]></Content>
</Stylesheet>