@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@*Default example breadcrumb as a partial view *@

@if (Model.Content.Ancestors().Any())
{
    
 <ul class="breadcrumb">
        @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
        @foreach (var page in Model.Content.Ancestors().OrderBy("Level"))
        {
            <li><a href="@page.Url">@page.GetPropertyValue("title")</a></li>
	}

        @* Display the current page as the last item in the list *@
        <li class="active">@Model.Content.GetPropertyValue("title")</li>
</ul>



}