<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.Component</Name>
    <Alias>ulgComponent</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgContent</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
      <GenericProperty>
      <Name>Custom Css Class</Name>
      <Alias>customCssClass</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>
      </Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Custom CSS Class for the component holder]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</DocumentType>