<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.VenuePage</Name>
    <Alias>ulgVenuePage</Alias>
    <Icon>map.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
   <Master>ulgPage</Master>
    <AllowedTemplates>
      <Template>ulgVenuePage</Template>
    </AllowedTemplates>
    <DefaultTemplate>ulgVenuePage</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Venue Address</Name>
      <Alias>venueAddress</Alias>
      <Type>67db8357-ef57-493e-91ac-936d305e0f2a</Type>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Tab>Venue Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Postal Address of venue]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Venue Location</Name>
      <Alias>venueLocation</Alias>
      <Type>1b64eae2-f9a1-4276-a071-f25dde6913dd</Type>
      <Definition>b75b0222-e020-403b-b9ab-ea80b200d9b4</Definition>
      <Tab>Venue Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Location on a google map]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Venue Image</Name>
      <Alias>venueImage</Alias>
      <Type>ead69342-f06d-4253-83ac-28000225583b</Type>
      <Definition>7bd8abf6-b2c9-4ae3-8489-5359600cf67e</Definition>
      <Tab>Venue Images</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Main image that represents venue]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Image Carousel</Name>
      <Alias>imageCarousel</Alias>
      <Type>7e062c13-7c41-4ad9-b389-41d88aeef87c</Type>
      <Definition>ab43f01f-2ec7-4ea1-a939-1193637fb1f1</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Several images that form a carousel/gallery for the venue]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Google Event Calendar id</Name>
      <Alias>googleEventCalendarId</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Venue Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Id of a google event calendar for events at this venue]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Venue Type</Name>
      <Alias>venueType</Alias>
      <Type>a74ea9c9-8e18-4d2a-8cf6-73c6206c5da6</Type>
      <Definition>466024a4-2719-4d4e-beb9-9f9862fab2bf</Definition>
      <Tab>Venue Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Type of venue]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>24</Id>
      <Caption>Venue Info</Caption>
    </Tab>
    <Tab>
      <Id>25</Id>
      <Caption>Venue Images</Caption>
    </Tab>
    <Tab>
      <Id>26</Id>
      <Caption>Content</Caption>
    </Tab>
  </Tabs>
</DocumentType>