<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.ServiceAlert</Name>
    <Alias>ulgServiceAlert</Alias>
    <Icon>error.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgComponent</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Alert Type</Name>
      <Alias>alertType</Alias>
      <Type>b4471851-82b6-4c75-afa4-39fa9c6a75e9</Type>
      <Definition>8f22cda7-f398-479a-979f-865da5aecab7</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Alert Type]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>31</Id>
      <Caption>Content</Caption>
    </Tab>
  </Tabs>
</DocumentType>