<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.Page</Name>
    <Alias>ulgPage</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>(Placeholder) for Content Document Types</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgContent</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Related Icon</Name>
      <Alias>relatedIcon</Alias>
      <Type>d15e1281-e456-4b24-aa86-1dda3e4299d5</Type>
      <Definition>21ce07ea-7e89-4ca3-ba0e-5ecaa33a720b</Definition>
      <Tab>Page Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Select an icon related to the page]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Hide from AZ</Name>
      <Alias>hideFromAZ</Alias>
      <Type>38b352c1-e9f8-4fd8-9324-9a2eab06d97a</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>
      </Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Don't show in the AtoZ]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Alternative A-Z Entries</Name>
      <Alias>alternativeAZEntries</Alias>
      <Type>4023e540-92f5-11dd-ad8b-0800200c9a66</Type>
      <Definition>1e91d77d-a38f-4626-81bf-d614dc001cc0</Definition>
      <Tab>
      </Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Alternative entries to list this page's content under in the A-Z]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Feature in Menu</Name>
      <Alias>featureInMenu</Alias>
      <Type>38b352c1-e9f8-4fd8-9324-9a2eab06d97a</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>
      </Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Summary</Name>
      <Alias>summary</Alias>
      <Type>5e9b75ae-face-41c8-b47e-5f4b0fd82f83</Type>
      <Definition>bfa2ca83-65d4-45ba-b23a-f52a8740e1f4</Definition>
      <Tab>Page Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[what appears on landing pages.]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Service Alert</Name>
      <Alias>serviceAlert</Alias>
      <Type>7e062c13-7c41-4ad9-b389-41d88aeef87c</Type>
      <Definition>eedb91e3-32e7-482d-8dd6-989b05d2a523</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Select a service alert for this page]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>53</Id>
      <Caption>MetaData</Caption>
    </Tab>
    <Tab>
      <Id>54</Id>
      <Caption>Content</Caption>
    </Tab>
    <Tab>
      <Id>34</Id>
      <Caption>Page Info</Caption>
    </Tab>
  </Tabs>
</DocumentType>