<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.ServiceAlertFolder</Name>
    <Alias>ulgServiceAlertFolder</Alias>
    <Icon>error_go.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgSystem</Master>
    <AllowedTemplates>
      <Template>ulgSystemPages</Template>
    </AllowedTemplates>
    <DefaultTemplate>ulgSystemPages</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>ulgServiceAlertFolder</DocumentType>
    <DocumentType>ulgServiceAlert</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>