<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<macro>
  <name>ulg.relatedlinks</name>
  <alias>ulg.relatedlinks</alias>
  <scriptType>
  </scriptType>
  <scriptAssembly>
  </scriptAssembly>
  <xslt>
  </xslt>
  <useInEditor>False</useInEditor>
  <refreshRate>0</refreshRate>
  <scriptingFile>ulg.relatedlinks.cshtml</scriptingFile>
  <properties />
</macro>