<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<macro>
  <name>ulg.landingpage</name>
  <alias>ulg.landingpage</alias>
  <scriptType>
  </scriptType>
  <scriptAssembly>
  </scriptAssembly>
  <xslt>
  </xslt>
  <useInEditor>False</useInEditor>
  <refreshRate>0</refreshRate>
  <scriptingFile>ulg.landingpage.cshtml</scriptingFile>
  <properties>
    <property name="mainCount" alias="mainCount" show="True" propertyType="number" />
    <property name="mainSection" alias="MainSection" show="True" propertyType="text" />
    <property name="moreSection" alias="moreSection" show="True" propertyType="bool" />
  </properties>
</macro>