<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.coreContent</Name>
    <Alias>ulgcoreContent</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>(Placeholder) for Content Document Types</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ulgroot</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Title of the page]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Content</Name>
      <Alias>bodyText</Alias>
      <Type>5e9b75ae-face-41c8-b47e-5f4b0fd82f83</Type>
      <Definition>12558f0b-83ec-4a91-a3a0-5dee99df6dc0</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[content of the page]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Hide from Navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Type>38b352c1-e9f8-4fd8-9324-9a2eab06d97a</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Page Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Hide from the navigation]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Hide from AZ</Name>
      <Alias>hideFromAZ</Alias>
      <Type>38b352c1-e9f8-4fd8-9324-9a2eab06d97a</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Page Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Don't show in the AtoZ]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Feature in Menu</Name>
      <Alias>featureInMenu</Alias>
      <Type>38b352c1-e9f8-4fd8-9324-9a2eab06d97a</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Page Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Description</Name>
      <Alias>metaDescription</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>MetaData</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Subject</Name>
      <Alias>metaSubject</Alias>
      <Type>4023e540-92f5-11dd-ad8b-0800200c9a66</Type>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Tab>MetaData</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Robots</Name>
      <Alias>metaRobots</Alias>
      <Type>a74ea9c9-8e18-4d2a-8cf6-73c6206c5da6</Type>
      <Definition>7749e36b-015d-4be0-b803-4466549c39ff</Definition>
      <Tab>MetaData</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Summary</Name>
      <Alias>summary</Alias>
      <Type>5e9b75ae-face-41c8-b47e-5f4b0fd82f83</Type>
      <Definition>bfa2ca83-65d4-45ba-b23a-f52a8740e1f4</Definition>
      <Tab>Page Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[what appears on landing pages.]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>6</Id>
      <Caption>Content</Caption>
    </Tab>
    <Tab>
      <Id>7</Id>
      <Caption>Page Info</Caption>
    </Tab>
    <Tab>
      <Id>8</Id>
      <Caption>MetaData</Caption>
    </Tab>
  </Tabs>
</DocumentType>