<?xml version="1.0"?>
<cropUp referenceWidth="620" referenceHeight="480" autoDetect="true" detectFaces="true" iis6="false" boxFaces="true" faceMargin="150" cacheCropData="true">
    <croppings>
		<add alias="squarethumb" name="Square Thumbnail" width="150" height="150" />
        <add alias="homepagenews" name="Homepage News" width="320" height="90" />
        <add alias="newsarticle" name="News Article" width="600" height="400" />
        <add alias="carousel" name="Carousel" width="1500" height="450" />
    </croppings>
</cropUp>
