/*
 * this is where the design lives
 */


/* landing pages */
.landing-item .icon {
	float: left;
	padding: .4em;
	font-size: 2.2em;
}


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
