/*
 * this is where the design lives
 */


/* landing pages */
.landing-item {
	margin: 1em 0;
	padding: 1em 0;
	height: 150px;
	border-radius: 6px;
}
		
.landing-item:hover { 
	background-color: #f2f2f2;
}

.landing-item .icon {
	float: left;
	padding: .4em;
	font-size: 2.2em;
	color: #888;
}

.landing-item h3 {
	color: #222;
	font-weight: bold;
}
	

.landing-text {
	display: block;
	padding-left: 4.8em;
}
		
.landing-item a:hover { text-decoration: none; }

/* ------------ Navigation ------------- */
.nav .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

/* ------------ mega menus ------------- */

/* widths - these need to be %ed */
.menu-drop {
    width: 360px;
    z-index: 1000; 
}

.menu-drop ul {
    width: 160px;
}

.menu-drop ul.menu-featured {
    width: 200px;
}

.menu-more {
    width: 160px;
}

.menu-drop {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #fcfcfc;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 3px 3px 4px #ddd;
    padding: 10px 0;
}

    .menu-drop ul {
        list-style: none;
        padding: 0;
        margin: 0;
        float: left;
    }

    .menu-drop li {
        padding: 0;
        margin: 0;
    }

    .menu-drop a {
        display: block;
        padding: 10px 8px;
        margin: 0;
        line-height: 1.1em;
    }


.menu-more {
    padding-right: 20px;
}

    .menu-more ul {
        width: auto;
    }

.menu-featured {
    float: left;
}

    .menu-featured .icon {
        float:left;
        padding: 0.4em;
        font-size: 2em;
    }

    .menu-featured featured-text, .menu-featured featured-title {
        margin-left: 52px;
        display: block; 

    }

/* ----------- search box ----------*/
.search-box {
    margin-top: 2em;
}







/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
