<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Template>
  <Name>ulgSearchResults</Name>
  <Alias>ulgSearchResults</Alias>
  <Master>ulgDesign</Master>
  <Design><![CDATA[@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ulgDesign.cshtml";
}

@section MetaData {
	
	
}


	<div class="row">
		<div class="col-lg-8">
		
				<div class="page-header">
				<h1>@Umbraco.Field("title")</h1>
				 </div>
				 	@Umbraco.Field("bodyText")
				
	
		</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12">
	
							@Html.Partial("ulgSiteSearch")
                       
	
							
	</div>
</div>

	
			@section Footer {
				
				
			}
@section Scripts {
	
}]]></Design>
</Template>