<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MediaType>
  <Info>
    <Name>Image</Name>
    <Alias>Image</Alias>
    <Icon>mediaPhoto.gif</Icon>
    <Thumbnail>mediaPhoto.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Upload image</Name>
      <Alias>umbracoFile</Alias>
      <Type>5032a6e6-69e3-491d-bb28-cd31cd11086c</Type>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Tab>Image</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Width</Name>
      <Alias>umbracoWidth</Alias>
      <Type>6c738306-4c17-4d88-b9bd-6546f3771597</Type>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Tab>Image</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Height</Name>
      <Alias>umbracoHeight</Alias>
      <Type>6c738306-4c17-4d88-b9bd-6546f3771597</Type>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Tab>Image</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Type>6c738306-4c17-4d88-b9bd-6546f3771597</Type>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Tab>Image</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Type>6c738306-4c17-4d88-b9bd-6546f3771597</Type>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Tab>Image</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Alternative Text</Name>
      <Alias>alternativeText</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>True</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Alternative text for the image]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Image Crop</Name>
      <Alias>imageCrop</Alias>
      <Type>11278594-b8d4-4cc6-a0fa-fd9c91bd6b4e</Type>
      <Definition>dae545fe-0ab3-4e05-b5c7-90e87c491e52</Definition>
      <Tab>Image Crop</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Highlighted area is the suggested auto crop, move the dotted rectangle to manually override and set the crop]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>3</Id>
      <Caption>Image</Caption>
      <Sort>1</Sort>
    </Tab>
    <Tab>
      <Id>23</Id>
      <Caption>Content</Caption>
      <Sort>5</Sort>
    </Tab>
    <Tab>
      <Id>22</Id>
      <Caption>Image Crop</Caption>
      <Sort>10</Sort>
    </Tab>
  </Tabs>
</MediaType>