<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType Name="ulg.SummaryEditor" Id="5e9b75ae-face-41c8-b47e-5f4b0fd82f83" Definition="bfa2ca83-65d4-45ba-b23a-f52a8740e1f4">
  <PreValues>
    <PreValue Id="10" Value=",code,bold,italic,underline,|0|1,3,|0|500,200||True|500|" />
  </PreValues>
</DataType>