<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType Name="ulg.RichEditor" Id="5e9b75ae-face-41c8-b47e-5f4b0fd82f83" Definition="12558f0b-83ec-4a91-a3a0-5dee99df6dc0">
  <PreValues>
    <PreValue Id="40" Value=",code,removeformat,undo,redo,cut,copy,mcepasteword,stylepicker,bold,italic,underline,strikethrough,justifyleft,justifycenter,justifyright,bullist,numlist,outdent,indent,mcelink,unlink,mceimage,umbracomacro,mceinserttable,umbracoembed,mcespellcheck,|0|1,3,|0|500,400|1064,1069,|True|500|" />
  </PreValues>
</DataType>