<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType Name="ulg.Robots" Id="a74ea9c9-8e18-4d2a-8cf6-73c6206c5da6" Definition="7749e36b-015d-4be0-b803-4466549c39ff">
  <PreValues>
    <PreValue Id="6" Value="index,follow" />
    <PreValue Id="7" Value="noindex,follow" />
    <PreValue Id="8" Value="noindex,nofollow" />
    <PreValue Id="9" Value="index,nofollow" />
  </PreValues>
</DataType>