<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType Name="ulg.NewsLocations" Id="34451d92-d270-49ba-8c7f-ee55bfeee1cb" Definition="b961ec46-d2aa-4e72-bd76-9551501dc50b">
  <PreValues>
    <PreValue Id="104" Value="{&quot;Type&quot;:&quot;c66ba18e-eaf3-4cff-8a22-41b16d66a972&quot;,&quot;XPath&quot;:&quot;//*[self::ulgSectionHomepage or self::ulgHomepage] &quot;,&quot;UseXml&quot;:false,&quot;UseIds&quot;:true,&quot;UmbracoObjectType&quot;:3}" />
  </PreValues>
</DataType>