<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType Name="ulgServiceAlertType" Id="b4471851-82b6-4c75-afa4-39fa9c6a75e9" Definition="8f22cda7-f398-479a-979f-865da5aecab7">
  <PreValues>
    <PreValue Id="237" Value="error" />
    <PreValue Id="238" Value="success" />
    <PreValue Id="239" Value="info" />
  </PreValues>
</DataType>