<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType Name="ulgServiceAlertPicker" Id="7e062c13-7c41-4ad9-b389-41d88aeef87c" Definition="eedb91e3-32e7-482d-8dd6-989b05d2a523">
  <PreValues>
    <PreValue Id="242" Value="content" />
    <PreValue Id="243" Value="/*[self::ulgServiceAlert]" />
    <PreValue Id="244" Value="2" />
    <PreValue Id="245" Value="True" />
    <PreValue Id="246" Value="1" />
    <PreValue Id="247" Value="1" />
    <PreValue Id="248" Value="-1" />
    <PreValue Id="249" Value="False" />
    <PreValue Id="250" Value="0" />
    <PreValue Id="251" Value="0" />
    <PreValue Id="252" Value="//ulgServiceAlert" />
    <PreValue Id="253" Value="400" />
    <PreValue Id="254" Value="0" />
  </PreValues>
</DataType>