<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType Name="ulgVenueImages" Id="7e062c13-7c41-4ad9-b389-41d88aeef87c" Definition="ab43f01f-2ec7-4ea1-a939-1193637fb1f1">
  <PreValues>
    <PreValue Id="155" Value="media" />
    <PreValue Id="156" Value="/*[self::Image]" />
    <PreValue Id="157" Value="8" />
    <PreValue Id="158" Value="True" />
    <PreValue Id="159" Value="1" />
    <PreValue Id="160" Value="1" />
    <PreValue Id="161" Value="1127" />
    <PreValue Id="162" Value="True" />
    <PreValue Id="163" Value="1" />
    <PreValue Id="164" Value="1" />
    <PreValue Id="165" Value="" />
    <PreValue Id="166" Value="450" />
    <PreValue Id="167" Value="0" />
  </PreValues>
</DataType>