<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType Name="ulgVenueType" Id="a74ea9c9-8e18-4d2a-8cf6-73c6206c5da6" Definition="466024a4-2719-4d4e-beb9-9f9862fab2bf">
  <PreValues>
    <PreValue Id="220" Value="School" />
    <PreValue Id="221" Value="Park" />
    <PreValue Id="222" Value="Car Park" />
    <PreValue Id="223" Value="Library" />
    <PreValue Id="224" Value="Museum" />
    <PreValue Id="226" Value="Leisure Centre" />
  </PreValues>
</DataType>