<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType Name="ulgVenueLocation" Id="1b64eae2-f9a1-4276-a071-f25dde6913dd" Definition="b75b0222-e020-403b-b9ab-ea80b200d9b4">
  <PreValues>
    <PreValue Id="180" Value="53.430785,-2.960515" />
    <PreValue Id="181" Value="12" />
    <PreValue Id="182" Value="375" />
    <PreValue Id="183" Value="459" />
  </PreValues>
</DataType>