<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType Name="ulgVenueImages" Id="7e062c13-7c41-4ad9-b389-41d88aeef87c" Definition="ab43f01f-2ec7-4ea1-a939-1193637fb1f1">
  <PreValues>
    <PreValue Id="195" Value="media" />
    <PreValue Id="196" Value="/*[self::Image]" />
    <PreValue Id="197" Value="8" />
    <PreValue Id="198" Value="True" />
    <PreValue Id="199" Value="1" />
    <PreValue Id="200" Value="1" />
    <PreValue Id="201" Value="-1" />
    <PreValue Id="202" Value="True" />
    <PreValue Id="203" Value="1" />
    <PreValue Id="204" Value="1" />
    <PreValue Id="205" Value="" />
    <PreValue Id="206" Value="450" />
    <PreValue Id="207" Value="0" />
  </PreValues>
</DataType>