<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DictionaryItem Key="Headings">
  <Value LanguageId="3" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
  <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[]]></Value>
  <DictionaryItem Key="Address">
    <Value LanguageId="3" LanguageCultureAlias="en-US"><![CDATA[By Post]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[By Post]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Contact Us">
    <Value LanguageId="3" LanguageCultureAlias="en-US"><![CDATA[Contact Us]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[Contact Us]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="eMail">
    <Value LanguageId="3" LanguageCultureAlias="en-US"><![CDATA[By e-mail]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[e-mail]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Telephone">
    <Value LanguageId="3" LanguageCultureAlias="en-US"><![CDATA[By phone]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[By Phone]]></Value>
  </DictionaryItem>
</DictionaryItem>