<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DictionaryItem Key="LandingPages">
  <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[]]></Value>
  <DictionaryItem Key="MainSection">
    <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[Straight To...]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="MoreSection">
    <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[]]></Value>
  </DictionaryItem>
</DictionaryItem>