<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DictionaryItem Key="LandingPages">
  <Value LanguageId="3" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
  <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[]]></Value>
  <DictionaryItem Key="MainSection">
    <Value LanguageId="3" LanguageCultureAlias="en-US"><![CDATA[Straight To...]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[Straight To...]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="MoreSection">
    <Value LanguageId="3" LanguageCultureAlias="en-US"><![CDATA[More...]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="en-GB"><![CDATA[More...]]></Value>
  </DictionaryItem>
</DictionaryItem>