<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>ulg.Homepage</Name>
    <Alias>ulgHomepage</Alias>
    <Icon>house.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>homepage for the entire site</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <Master>ulgSectionHomepage</Master>
    <AllowedTemplates>
      <Template>ulgHomepage</Template>
    </AllowedTemplates>
    <DefaultTemplate>ulgHomepage</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>ulgSectionHomepage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Site Name</Name>
      <Alias>siteName</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Site Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Name of the site]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Analytics Code</Name>
      <Alias>analyticsCode</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Site Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Creator</Name>
      <Alias>metaCreator</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>MetaData</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Publisher</Name>
      <Alias>metaPublisher</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>MetaData</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>12</Id>
      <Caption>Site Info</Caption>
    </Tab>
    <Tab>
      <Id>13</Id>
      <Caption>Section Info</Caption>
    </Tab>
    <Tab>
      <Id>14</Id>
      <Caption>MetaData</Caption>
    </Tab>
  </Tabs>
</DocumentType>