<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Template>
  <Name>ulgHomepage</Name>
  <Alias>ulgHomepage</Alias>
  <Master>ulgDesign</Master>
  <Design><![CDATA[@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ulgDesign.cshtml";
}

@section MetaData {
	
	
}
@section BreadCrumb {
		<!-- homepage has no breadcrumb -->
}



	<div class="row">
		<div class="span8">
			<div class="hero-unit">
				<h2>Welcome to @Umbraco.Field("siteName")</h2>
				@Umbraco.Field("bodyText")
			</div>
		</div>
		<div class="span4">
			<div class="well">
				<h2>News...</h2>
			</div>
		</div>
	</div>
	@* rewrite as partial view *@
				@Umbraco.RenderMacro("ulg.landingpage")

	
			@section Footer {
				
				
			}
@section Scripts {
	
}]]></Design>
</Template>